# Web Scraping Assignment-2

## Instructions 
   ### 1. All the questions must be done in a single Jupyter notebook. 
   ### 2. There should be proper comments in code.

In [129]:
# install the selenium library

!pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.1.0)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.19.0)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.0.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (20.0.1)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: cryptography>=1.3.4 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (3.4.7)
Requirement already satisfied: six>=1.5.2 in c:\programdata\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.12.0)

In [130]:
# import necessary libraries

import pandas as pd
import selenium
from selenium import webdriver

### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data. 
#### This task will be done in following steps: 
#### 1. First get the webpage ![https://www.naukri.com/](https://cdn-images-1.medium.com/max/1200/1*YZM8sGY7ld-GrlQ5Tmy1qw.png)
#### 2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field. 
#### 3. Then click the search button. 
#### 4. Then scrape the data for the first 10 jobs results you get. 
#### 5. Finally create a dataframe of the scraped data. 
#### Note: All of the above steps have to be done in code. No step is to be done manually.

In [131]:
# connect to webdriver
driver = webdriver.Chrome(r"C:/Users/DELL/Downloads/chromedriver_win32/chromedriver.exe")

<ipython-input-131-0e43fb486e48>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:/Users/DELL/Downloads/chromedriver_win32/chromedriver.exe")

In [132]:
# get webpage
driver.get("https://www.naukri.com/")

In [133]:
# enter “Data Analyst” in “Skill, Designations, Companies” field.
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Analyst")
# enter “Bangalore” in “enter the location” field.
search_loc = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")

<ipython-input-133-29f97827f25a>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_job = driver.find_element_by_id("qsb-keyword-sugg")
<ipython-input-133-29f97827f25a>:5: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_loc = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")

In [134]:
# click the search button
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

<ipython-input-134-a0ff133df9fe>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")

###  Scraping the data for the first 10 jobs results

In [154]:
# specifying the url of the webpage to be scraped
url = "https://www.naukri.com/data-analyst-data-analyst-jobs-in-bangalore?k=data%20analyst%2C%20data%20analyst&l=bangalore"

In [155]:
# open the webpage through our web driver

driver.get(url)

In [156]:
# creating empty list to scraping data into them

job_title=[]
company_name=[]
experience_required=[]
job_location=[]

In [157]:
# extracting all the tags having job-titles

title_tag = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tag[0:10]

<ipython-input-157-2252e1506609>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_tag = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

[<selenium.webdriver.remote.webelement.WebElement (session="1f75ebb2871a661c740ae271eff89d04", element="47f8c60f-8403-4fda-9652-894826f4db5b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f75ebb2871a661c740ae271eff89d04", element="624d60f5-2586-40a6-a1bc-1a33877a62a2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f75ebb2871a661c740ae271eff89d04", element="5fbbe0f9-1e80-4514-93aa-a4a07004286f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f75ebb2871a661c740ae271eff89d04", element="0dd61a20-8c41-4735-b7db-f5b382f25311")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f75ebb2871a661c740ae271eff89d04", element="55c791d8-3058-4485-89d2-3146b23ab93c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f75ebb2871a661c740ae271eff89d04", element="433ff607-5085-47e7-bf8a-9630f4b34a53")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f75ebb2871a661c740ae271eff89d04", element="cd1a1374-b4c9-40cf-af58-471b99cc4a9a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f75ebb2871a661c740ae271eff89d04", element="63c892d4-0258-4735-9217-a0b6059008d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f75ebb2871a661c740ae271eff89d04", element="5303a37e-3075-4e13-bd62-df84f3cacf51")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f75ebb2871a661c740ae271eff89d04", element="44387eee-3041-4a21-950e-218106917311")>]

In [158]:
# extract the job title text iteratively from these tags one by one

for i in title_tag:
    title = i.text
    job_title.append(title)
job_title = job_title[0:10]

print("Below are the top 10 job data's job title: \n", job_title)

Below are the top 10 job data's job title:
 ['Data Analyst / Engineer', 'Business Analyst - Data Science & Advanced Analytics', 'Assistant/deputy Manager - Geo-spatial Data Analyst', 'Supervisor Role, Data Analyst, six sigma, Analytical skills, Database', 'Senior Data Analyst', 'Manager - Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst']

In [178]:
# extracting all the tags having company name

company_tag = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tag[0:10]

<ipython-input-178-513637e53001>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  company_tag = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

[<selenium.webdriver.remote.webelement.WebElement (session="1f75ebb2871a661c740ae271eff89d04", element="f211e184-2666-405b-924d-2d870de88a86")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f75ebb2871a661c740ae271eff89d04", element="b4fb0279-c406-47f9-a70f-77f837610e60")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f75ebb2871a661c740ae271eff89d04", element="8d2fce01-4e32-459d-ae94-f1753aeb6208")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f75ebb2871a661c740ae271eff89d04", element="e462f06b-f97c-42b7-8b5e-935aa6a5f5a3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f75ebb2871a661c740ae271eff89d04", element="b7b56f0d-f4bd-4041-8403-2f868000e2bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f75ebb2871a661c740ae271eff89d04", element="f73f65a0-91a6-43e3-93ec-854b0c035207")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f75ebb2871a661c740ae271eff89d04", element="b89ee007-ed12-453c-bb87-22e55c76c89b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f75ebb2871a661c740ae271eff89d04", element="21459c0c-6859-4165-af39-96bf3ebc589a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f75ebb2871a661c740ae271eff89d04", element="82ee8005-5cfb-408a-9641-fa209f46a61d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f75ebb2871a661c740ae271eff89d04", element="4f575af8-9be0-479c-a341-a36fe4e5bfce")>]

In [179]:
# extract the job title text iteratively from these tags one by one

for i in company_tag:
    company = i.text
    company_name.append(company)
company_name = company_name[10:20]
print("Below are the top 10 job data's : \n", company_name)

Below are the top 10 job data's :
 ['Animaker India Private Limited', 'Vmware', 'Maruti Suzuki India', 'Concentrix Daksh Services', 'SYREN TECHNOLOGIES PRIVATE LIMITED', 'Genpact', 'Ola Cabs', 'Groww', 'GlaxoSmithKline Pharmaceuticals Limited', 'Infineon Technologies Pvt Ltd']

In [180]:
# extracting all the tags having job-experience

exp_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
exp_tag[0:10]

<ipython-input-180-f44eed06f8a7>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  exp_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")

[<selenium.webdriver.remote.webelement.WebElement (session="1f75ebb2871a661c740ae271eff89d04", element="c5994436-1e13-4c2c-9062-a80b9467151b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f75ebb2871a661c740ae271eff89d04", element="5eb0f6e1-9a1b-45a3-871f-14eadee68c3d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f75ebb2871a661c740ae271eff89d04", element="5c08e165-8779-4c02-b605-d5ea443f0423")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f75ebb2871a661c740ae271eff89d04", element="e40793c4-2c75-4c56-b157-805bae4741f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f75ebb2871a661c740ae271eff89d04", element="41b91615-6198-453f-8424-892ab9be742e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f75ebb2871a661c740ae271eff89d04", element="04132611-63bb-4581-9c70-6e1ad2cc4282")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f75ebb2871a661c740ae271eff89d04", element="11ea35ce-ed93-4173-9329-1358c5336a53")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f75ebb2871a661c740ae271eff89d04", element="2ac0c96a-fa8e-480b-8af6-39d3a3d9300f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f75ebb2871a661c740ae271eff89d04", element="a0ccc9e0-9e66-4ff0-981a-3c7c586bd790")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f75ebb2871a661c740ae271eff89d04", element="4e1415e3-ac72-4996-8ba7-f611c75a9021")>]

In [181]:
# extract the job experience text iteratively from these tags one by one

for i in exp_tag: 
    experience_required.append(i.text.split(" ")[0])
experience_required= experience_required[0:10]
print("Below are the top 10 job data's job title: \n", experience_required)

['4-9 Yrs',
 '2-5 Yrs',
 '3-5 Yrs',
 '3-6 Yrs',
 '5-10 Yrs',
 '5-10 Yrs',
 '1-3 Yrs',
 '1-3 Yrs',
 '2-5 Yrs',
 '1-3 Yrs']

In [182]:
# extracting all the tags having job-location 

location_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location_tag[0:10]

<ipython-input-182-1cb08f22d18a>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  location_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

[<selenium.webdriver.remote.webelement.WebElement (session="1f75ebb2871a661c740ae271eff89d04", element="f2a2f570-d66b-411f-8b6c-569e5a88cab7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f75ebb2871a661c740ae271eff89d04", element="e6c6ce5a-9484-4d42-922b-bb51714a33b4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f75ebb2871a661c740ae271eff89d04", element="5d5821e7-de65-4f87-bf3f-115c46eebe65")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f75ebb2871a661c740ae271eff89d04", element="6b981768-d513-44f0-ac2d-6f4d8a2ed1fb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f75ebb2871a661c740ae271eff89d04", element="07e160b2-7ca4-4da0-b866-696c5cd95ab4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f75ebb2871a661c740ae271eff89d04", element="ce07ff34-fca5-4ac4-82fb-de8f9032282c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f75ebb2871a661c740ae271eff89d04", element="9c43dbef-2246-4e24-a596-78c0ee9fe2c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f75ebb2871a661c740ae271eff89d04", element="476035eb-b8a3-48df-b616-5a188f99473c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f75ebb2871a661c740ae271eff89d04", element="7b3826e4-5a39-43c2-a3a8-ee8e8e1d85ea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f75ebb2871a661c740ae271eff89d04", element="82d35832-0b78-45af-b66e-95385f58da59")>]

In [183]:
# extract the job location text iteratively from these tags one by one

for i in location_tag:
    location = i.text
    job_location.append(location)
job_location = job_location[0:10]
print("Below are the top 10 job data's company location \n", job_location)

Below are the top 10 job data's company location
 ['Chennai, Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Gurgaon/Gurugram, bangalore', 'Bangalore/Bengaluru', 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Palani, Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru']

In [184]:
# making DataFrame of the top 10 job details from the "wwww.naukri.com"

naukri_analytics = pd.DataFrame({'Title':job_title, 
                       'Location': job_location,
                       'Company_Name':company_name, 
                       'Experience':experience_required,                        
                       })
naukri_analytics

,Title,Location,Company_Name,Experience
0,Data Analyst / Engineer,"Chennai, Bangalore/Bengaluru",Animaker India Private Limited,4-9 Yrs
1,Business Analyst - Data Science & Advanced Ana...,Bangalore/Bengaluru,Vmware,2-5 Yrs
2,Assistant/deputy Manager - Geo-spatial Data An...,"Gurgaon/Gurugram, bangalore",Maruti Suzuki India,3-5 Yrs
3,"Supervisor Role, Data Analyst, six sigma, Anal...",Bangalore/Bengaluru,Concentrix Daksh Services,3-6 Yrs
4,Senior Data Analyst,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",SYREN TECHNOLOGIES PRIVATE LIMITED,5-10 Yrs
5,Manager - Data Analyst,Bangalore/Bengaluru,Genpact,5-10 Yrs
6,Data Analyst,Bangalore/Bengaluru,Ola Cabs,1-3 Yrs
7,Data Analyst,"Palani, Bangalore/Bengaluru",Groww,1-3 Yrs
8,Data Analyst,Bangalore/Bengaluru,GlaxoSmithKline Pharmaceuticals Limited,2-5 Yrs
9,Data Analyst,Bangalore/Bengaluru,Infineon Technologies Pvt Ltd,1-3 Yrs

In [185]:
driver.close()

## Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data. 
### This task will be done in following steps: 
### 1. First get the webpage ![https://www.naukri.com/](https://cdn-images-1.medium.com/max/1200/1*YZM8sGY7ld-GrlQ5Tmy1qw.png)
### 2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field. 
### 3. Then click the search button. 
### 4. Then scrape the data for the first 10 jobs results you get. 
### 5. Finally create a dataframe of the scraped data. 
#### Note: All of the above steps have to be done in code. No step is to be done manually.

In [197]:
# connect to webdriver
driver = webdriver.Chrome(r"C:/Users/DELL/Downloads/chromedriver_win32/chromedriver.exe")
# get webpage
driver.get("https://www.naukri.com/")

<ipython-input-197-1c19880c4f20>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:/Users/DELL/Downloads/chromedriver_win32/chromedriver.exe")

In [198]:
# enter “Data Scientist” in “Skill, Designations, Companies” field.
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Scientist")
# enter “Bangalore” in “enter the location” field.
search_loc = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")
# click the search button
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

<ipython-input-198-9c1f93df4f61>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_job = driver.find_element_by_id("qsb-keyword-sugg")
<ipython-input-198-9c1f93df4f61>:5: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_loc = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
<ipython-input-198-9c1f93df4f61>:8: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")

### Scraping the data for the first 10 jobs results

In [199]:
# specifying the url of the webpage to be scraped
url = "https://www.naukri.com/data-scientist-data-scientist-jobs-in-bangalore?k=data%20scientist%2C%20data%20scientist&l=bangalore%2C%20bangalore"

# open the webpage through our web driver
driver.get(url)

In [200]:
# creating empty list to scraping data into them

job_title=[]
job_location=[]
company_name=[]

In [201]:
# extracting all the tags having job-titles

title_tag = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tag[0:10]

<ipython-input-201-2252e1506609>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_tag = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

[<selenium.webdriver.remote.webelement.WebElement (session="adc0cdb0d506b216b8f7c7b37f1b0fc9", element="8d507ecd-31c8-4d54-931e-fb6dff5b98f1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="adc0cdb0d506b216b8f7c7b37f1b0fc9", element="8b8bc26b-de08-4856-b983-f0196da31b2a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="adc0cdb0d506b216b8f7c7b37f1b0fc9", element="17aeb319-d4e1-4d09-ad08-590f9d269e74")>,
 <selenium.webdriver.remote.webelement.WebElement (session="adc0cdb0d506b216b8f7c7b37f1b0fc9", element="1a48272e-47c5-4a82-9854-d594b4e2b163")>,
 <selenium.webdriver.remote.webelement.WebElement (session="adc0cdb0d506b216b8f7c7b37f1b0fc9", element="19622f98-aaf0-45ba-b4e2-1cbc91e4dcf2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="adc0cdb0d506b216b8f7c7b37f1b0fc9", element="4f5608f6-0440-48d5-a1ca-a62ca6eb39c8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="adc0cdb0d506b216b8f7c7b37f1b0fc9", element="4a5bfbd8-5461-4ac8-96c7-a300f2cea5e3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="adc0cdb0d506b216b8f7c7b37f1b0fc9", element="980785d9-e0b5-4cf4-b39d-9c04b987f3f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="adc0cdb0d506b216b8f7c7b37f1b0fc9", element="858477ac-7e40-4793-9e14-d2b5b7a6778a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="adc0cdb0d506b216b8f7c7b37f1b0fc9", element="edce7f09-71d0-49bd-97ce-42c69ced04f4")>]

In [202]:
# extract the job title text iteratively from these tags one by one

for i in title_tag:
    title = i.text
    job_title.append(title)
job_title = job_title[0:10]

print("Below are the top 10 job data's job title: \n", job_title)

Below are the top 10 job data's job title:
 ['Senior Data Scientist / Data Scientist', 'Data Scientist: Advanced Analytics', 'Cognitive Data Scientist', 'Lead Data Scientist', 'Data Scientist - Machine Learning', 'Sr. Data Scientist / Data Scientist For Bangalore Location', 'Jr. Data Analyst/ Jr. Data Scientist', 'Sr. Data Scientist - Medical /Marketing Analytics', 'Senior Data Scientist', 'Senior Data Scientist']

In [203]:
# extracting all the tags having job-location 

location_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location_tag[0:10]

<ipython-input-203-1cb08f22d18a>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  location_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

[<selenium.webdriver.remote.webelement.WebElement (session="adc0cdb0d506b216b8f7c7b37f1b0fc9", element="b57a29d8-d0d2-451a-aab5-d99dc21953d0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="adc0cdb0d506b216b8f7c7b37f1b0fc9", element="9c6f51b4-ae4e-4c2b-bea8-527be60f7b65")>,
 <selenium.webdriver.remote.webelement.WebElement (session="adc0cdb0d506b216b8f7c7b37f1b0fc9", element="e6231ee0-926f-4700-ae90-b21209289c2a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="adc0cdb0d506b216b8f7c7b37f1b0fc9", element="9618ff7b-e976-4a01-878f-50b56a64b6dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="adc0cdb0d506b216b8f7c7b37f1b0fc9", element="0d3868d8-1f29-48b6-8c43-1236cabf8e63")>,
 <selenium.webdriver.remote.webelement.WebElement (session="adc0cdb0d506b216b8f7c7b37f1b0fc9", element="7324d36d-08c7-4b8f-a422-5c6b6cf02704")>,
 <selenium.webdriver.remote.webelement.WebElement (session="adc0cdb0d506b216b8f7c7b37f1b0fc9", element="cc5fc667-69a1-490c-98e0-f6a1a1712d9f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="adc0cdb0d506b216b8f7c7b37f1b0fc9", element="e1dca038-0de2-480d-b2bb-103b80e71c2f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="adc0cdb0d506b216b8f7c7b37f1b0fc9", element="9d583eb8-219e-4d92-be64-4fa06a467e2e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="adc0cdb0d506b216b8f7c7b37f1b0fc9", element="c778ab18-1750-49bc-ba99-1a050c70b638")>]

In [204]:
# extract the job location text iteratively from these tags one by one

for i in location_tag:
    location = i.text
    job_location.append(location)
job_location = job_location[0:10]
print("Below are the top 10 job data's company location \n", job_location)

Below are the top 10 job data's company location
 ['Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Palani, Bangalore/Bengaluru', 'Bangalore/Bengaluru\n(WFH during Covid)', 'Kolkata, Bangalore/Bengaluru', 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Mumbai (All Areas)', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru']

In [205]:
# extracting all the tags having company name

company_tag = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tag[0:10]

<ipython-input-205-513637e53001>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  company_tag = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

[<selenium.webdriver.remote.webelement.WebElement (session="adc0cdb0d506b216b8f7c7b37f1b0fc9", element="29789477-7a01-4d5f-a295-680ad306e779")>,
 <selenium.webdriver.remote.webelement.WebElement (session="adc0cdb0d506b216b8f7c7b37f1b0fc9", element="ffbea340-af38-4e02-b572-6889a18af451")>,
 <selenium.webdriver.remote.webelement.WebElement (session="adc0cdb0d506b216b8f7c7b37f1b0fc9", element="61753a2e-7ef9-4afe-a328-4e6032af1351")>,
 <selenium.webdriver.remote.webelement.WebElement (session="adc0cdb0d506b216b8f7c7b37f1b0fc9", element="df5d5723-bc58-473f-807b-1738c69d45ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="adc0cdb0d506b216b8f7c7b37f1b0fc9", element="92f40b67-bd9b-4b8f-a07e-c523978cf252")>,
 <selenium.webdriver.remote.webelement.WebElement (session="adc0cdb0d506b216b8f7c7b37f1b0fc9", element="cf8de0d1-515f-4a69-a882-86fa737ccfee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="adc0cdb0d506b216b8f7c7b37f1b0fc9", element="837a1d9c-d9d8-4795-89ac-1e2918fc9248")>,
 <selenium.webdriver.remote.webelement.WebElement (session="adc0cdb0d506b216b8f7c7b37f1b0fc9", element="1ccfd930-60a9-4daf-ac78-fe0b9426732a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="adc0cdb0d506b216b8f7c7b37f1b0fc9", element="db5b0d15-4388-4fbc-89ad-cd30d69ad379")>,
 <selenium.webdriver.remote.webelement.WebElement (session="adc0cdb0d506b216b8f7c7b37f1b0fc9", element="57105966-6768-4cac-9bca-3abf232d1d19")>]

In [206]:
# extract the company name text iteratively from these tags one by one

for i in company_tag:
    company = i.text
    company_name.append(company)
company_name = company_name[0:10]
print("Below are the top 10 job data's : \n", company_name)

Below are the top 10 job data's :
 ['Superior Group', 'IBM India Pvt. Limited', 'IBM India Pvt. Limited', 'Groww', 'GormalOne LLP', 'mPokket', 'Sejal Consulting Hub', 'Valuable Consulting', 'Idexcel Technologies Private Limited', 'Idexcel Technologies Private Limited']

In [207]:
# making DataFrame of the top 10 job details from the "wwww.naukri.com"

naukri_scientist = pd.DataFrame({'Title':job_title, 
                       'Location': job_location,
                       'Company_Name':company_name,                                   
                       })
naukri_scientist

,Title,Location,Company_Name
0,Senior Data Scientist / Data Scientist,Bangalore/Bengaluru,Superior Group
1,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM India Pvt. Limited
2,Cognitive Data Scientist,Bangalore/Bengaluru,IBM India Pvt. Limited
3,Lead Data Scientist,"Palani, Bangalore/Bengaluru",Groww
4,Data Scientist - Machine Learning,Bangalore/Bengaluru\n(WFH during Covid),GormalOne LLP
5,Sr. Data Scientist / Data Scientist For Bangal...,"Kolkata, Bangalore/Bengaluru",mPokket
6,Jr. Data Analyst/ Jr. Data Scientist,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M...",Sejal Consulting Hub
7,Sr. Data Scientist - Medical /Marketing Analytics,Bangalore/Bengaluru,Valuable Consulting
8,Senior Data Scientist,Bangalore/Bengaluru,Idexcel Technologies Private Limited
9,Senior Data Scientist,Bangalore/Bengaluru,Idexcel Technologies Private Limited

In [208]:
driver.close()

## Q3: In this question you have to scrape data using the filters available on the webpage as shown below: 

#### You have to use the location and salary filter. 
#### You have to scrape data for “Data Scientist” designation for first 10 job results. 
#### You have to scrape the job-title, job-location, company name, experience required. 
#### The location filter to be used is “Delhi/NCR” The salary filter to be used is “3-6” lakhs 
#### The task will be done as shown in the below steps: 
#### 1. first get the webpage ![https://www.naukri.com/](https://cdn-images-1.medium.com/max/1200/1*YZM8sGY7ld-GrlQ5Tmy1qw.png)
#### 2. Enter “Data Scientist” in “Skill, Designations, and Companies” field. 
#### 3. Then click the search button. 
#### 4. Then apply the location filter and salary filter by checking the respective boxes 
#### 5. Then scrape the data for the first 10 jobs results you get. 
#### 6. Finally create a dataframe of the scraped data. 
#### Note: All of the above steps have to be done in code. No step is to be done manually

In [209]:
# connect to webdriver
driver = webdriver.Chrome(r"C:/Users/DELL/Downloads/chromedriver_win32/chromedriver.exe")
# get webpage
driver.get("https://www.naukri.com/")

<ipython-input-209-1c19880c4f20>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:/Users/DELL/Downloads/chromedriver_win32/chromedriver.exe")

In [210]:
# enter “Data Scientist” in “Skill, Designations, Companies” field.
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Scientist")

# click the search button
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

<ipython-input-210-7fd1e6a4691e>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_job = driver.find_element_by_id("qsb-keyword-sugg")
<ipython-input-210-7fd1e6a4691e>:6: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")

In [211]:
# apply the location filter "Delhi-NCR" and salary "3-6 lakh" filter by checking the respective boxes

loc_clk=driver.find_elements_by_xpath("//span[@class='ellipsis fleft']")
for i in loc_clk:
    if i.text == 'Delhi / NCR':   
        i.click() # Checking the checkbox to apply filter on the location
        break

<ipython-input-211-29e7ca756a64>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  loc_clk=driver.find_elements_by_xpath("//span[@class='ellipsis fleft']")

In [212]:
# applying salary filter
sal_clk=driver.find_elements_by_xpath("//span[@class='ellipsis fleft']")
for i in sal_clk:
    if i.text == '3-6 Lakhs':   
        i.click() # Checking the checkbox to apply filter on the salary
        break

<ipython-input-212-8d881a0bc8b3>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  sal_clk=driver.find_elements_by_xpath("//span[@class='ellipsis fleft']")

### Scraping the data for the first 10 jobs results

In [213]:
# specifying the url of the webpage to be scraped
url = "https://www.naukri.com/data-scientist-jobs?k=data%20scientist&cityTypeGid=9508&ctcFilter=3to6"

# open the webpage through our web driver
driver.get(url)

In [214]:
# creating empty list to scraping data into them

job_title=[]
company_name=[]
job_location=[]
experience_required=[]

In [215]:
# extracting all the tags having job-titles

title_tag = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tag[0:10]

<ipython-input-215-2252e1506609>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_tag = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

[<selenium.webdriver.remote.webelement.WebElement (session="0dce79edb342644031b4c8d64cc75686", element="aa668ee9-7575-475d-b5d4-1e4c527359ef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0dce79edb342644031b4c8d64cc75686", element="43c3bf93-8880-4082-b20e-688c4e51b8b1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0dce79edb342644031b4c8d64cc75686", element="65aeb7eb-b629-4530-bd76-45b4c8a64268")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0dce79edb342644031b4c8d64cc75686", element="b58fbb28-73e5-4dfd-b0c6-86abf9eceb48")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0dce79edb342644031b4c8d64cc75686", element="cfa42545-cec9-461d-aca3-108240520425")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0dce79edb342644031b4c8d64cc75686", element="a8ecfd6e-6eaa-4811-be2c-c7e826a9dde6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0dce79edb342644031b4c8d64cc75686", element="3adb5e8a-aec1-4dc7-bccf-c8a4a9be93a2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0dce79edb342644031b4c8d64cc75686", element="75ff70b5-f5c8-4d36-abf9-e46cc1317b09")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0dce79edb342644031b4c8d64cc75686", element="fe1ee66e-8057-41c8-8116-e7febed2834a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0dce79edb342644031b4c8d64cc75686", element="c28b1348-7a13-4077-a336-29b87f36f5a4")>]

In [216]:
# extract the job title text iteratively from these tags one by one

for i in title_tag:
    title = i.text
    job_title.append(title)
job_title = job_title[0:10]

print("Below are the top 10 job data's job title: \n", job_title)

Below are the top 10 job data's job title:
 ['Data Scientist', 'NTT DATA_ Hiring For BIG DATA ,DATA Scientist, Devops', 'Hiring For Data Scientist', 'Project Manager | Team Leader | Senior Data Scientist', 'Data Scientist', 'Hiring For Data Analyst / Data Scientist', 'Data Scientist Internship', 'Data Scientist', 'Data Scientist', 'Data Scientist/ Senior Data Scientist']

In [217]:
# extracting all the tags having job-location 

location_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location_tag[0:10]

<ipython-input-217-1cb08f22d18a>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  location_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

[<selenium.webdriver.remote.webelement.WebElement (session="0dce79edb342644031b4c8d64cc75686", element="944bb529-e6e0-4678-9bc5-b8feb3194d32")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0dce79edb342644031b4c8d64cc75686", element="6a00572e-71ec-4c19-be80-16197bc45a5a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0dce79edb342644031b4c8d64cc75686", element="6b7f087f-4b30-4ef5-b67a-f89594910d5b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0dce79edb342644031b4c8d64cc75686", element="62261cfc-13ba-4e28-a945-0e7a5dbec2f9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0dce79edb342644031b4c8d64cc75686", element="ce539588-e5e1-4b84-be8c-b0f0a3fc47bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0dce79edb342644031b4c8d64cc75686", element="efd42ed5-18d2-4649-9d6a-9ff81d682a60")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0dce79edb342644031b4c8d64cc75686", element="3f0da80d-747e-4568-8650-f504b785d8b7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0dce79edb342644031b4c8d64cc75686", element="7c83f448-910e-49c7-9b36-3f8bf983ef25")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0dce79edb342644031b4c8d64cc75686", element="c8247ee3-b21b-41c9-ab09-01a7785e3505")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0dce79edb342644031b4c8d64cc75686", element="35a883e1-84f1-4cd4-b67f-9c1636d0b8a4")>]

In [218]:
# extract the job location text iteratively from these tags one by one

for i in location_tag:
    location = i.text
    job_location.append(location)
job_location = job_location[0:10]
print("Below are the top 10 job data's company location \n", job_location)

Below are the top 10 job data's company location
 ['Noida, New Delhi, Faridabad, Gurgaon/Gurugram, Delhi / NCR', 'Noida, Kolkata, Hyderabad/Secunderabad, Ahmedabad, Chennai, Coimbatore, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)', 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)', 'Remote', 'Gurgaon/Gurugram, Chennai', 'Noida(Sector-59 Noida)', 'New Delhi', 'Gurgaon/Gurugram', 'Gurgaon/Gurugram', 'Noida']

In [219]:
# extracting all the tags having company name

company_tag = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tag[0:10]

<ipython-input-219-513637e53001>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  company_tag = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

[<selenium.webdriver.remote.webelement.WebElement (session="0dce79edb342644031b4c8d64cc75686", element="8cb6051f-caf9-49c2-8391-b54b1e93d225")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0dce79edb342644031b4c8d64cc75686", element="a6d1399b-6f50-4606-94c7-0d24596cf4c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0dce79edb342644031b4c8d64cc75686", element="7b23aaed-834d-466a-916c-c56229401cae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0dce79edb342644031b4c8d64cc75686", element="1c1e835d-ece0-4c38-9bd0-666cf3862e6d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0dce79edb342644031b4c8d64cc75686", element="e0303e40-5b2c-4643-a5f0-e85fd1f7361e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0dce79edb342644031b4c8d64cc75686", element="ff48e299-9bd6-4c46-ac49-a9d93c48fae7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0dce79edb342644031b4c8d64cc75686", element="beb37fe6-e13f-41f9-aade-f5907e6df1a5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0dce79edb342644031b4c8d64cc75686", element="802dec10-4d8e-48bb-8d38-591a53d83f9f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0dce79edb342644031b4c8d64cc75686", element="4064a1a9-3e5b-4f9c-bbb7-078f98cfeb35")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0dce79edb342644031b4c8d64cc75686", element="5ddf536e-82a4-4db2-86a3-24297a4cdcef")>]

In [220]:
# extract the company name text iteratively from these tags one by one

for i in company_tag:
    company = i.text
    company_name.append(company)
company_name = company_name[0:10]
print("Below are the top 10 job data's : \n", company_name)

Below are the top 10 job data's :
 ['LG Electronics India Pvt. Ltd.', 'NTT Data Business Solutions Pvt Ltd', 'Tata Consultancy Services Ltd.', 'Tidyquant (OPC) Private Limited', 'Teleperformance', 'Careerera', 'iHackers Inc', 'Whizhack Technologies pvt ltd', 'One Mobikwik Systems Private Limited', 'Newgen Software Technologies']

In [221]:
# extracting all the tags having job-experience

exp_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
exp_tag[0:10]

<ipython-input-221-f44eed06f8a7>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  exp_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")

[<selenium.webdriver.remote.webelement.WebElement (session="0dce79edb342644031b4c8d64cc75686", element="986baafd-a7eb-4932-bbef-920690ca5a63")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0dce79edb342644031b4c8d64cc75686", element="683deea2-a805-44fb-a963-38e8f74b187b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0dce79edb342644031b4c8d64cc75686", element="764f7e54-ea53-4c1d-ba7a-c65d3b5bfefa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0dce79edb342644031b4c8d64cc75686", element="f810a38e-ba3f-41b8-aac2-c7576451e506")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0dce79edb342644031b4c8d64cc75686", element="fd967340-952b-44b8-b64b-25c7e1fddb5b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0dce79edb342644031b4c8d64cc75686", element="dd8b868a-425b-46fd-96f9-8ec2aa29d589")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0dce79edb342644031b4c8d64cc75686", element="0d86feef-238c-4fda-b14a-15deff7b8d43")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0dce79edb342644031b4c8d64cc75686", element="97b2c0b7-720b-462e-bcbd-f7959e420054")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0dce79edb342644031b4c8d64cc75686", element="ff65520c-090a-458f-af42-7322f0680edc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0dce79edb342644031b4c8d64cc75686", element="93737a65-4f5a-4b56-8639-59b43d3cd108")>]

In [222]:
# extract the job experience text iteratively from these tags one by one

for i in exp_tag:
    experience_required.append(i.text.replace("Yrs",""))
experience_required= experience_required[0:10]
print("Below are the top 10 job data's job title: \n", experience_required)

Below are the top 10 job data's job title:
 ['0-2 ', '3-8 ', '4-9 ', '1-5 ', '4-9 ', '1-3 ', '0-1 ', '2-5 ', '2-5 ', '2-5 ']

In [223]:
# making DataFrame of the top 10 job details from the "wwww.naukri.com"

naukri_filter = pd.DataFrame({'Title':job_title, 
                       'Location': job_location,
                       'Company_Name':company_name, 
                       'Experience':experience_required,                        
                       })
naukri_filter

,Title,Location,Company_Name,Experience
0,Data Scientist,"Noida, New Delhi, Faridabad, Gurgaon/Gurugram,...",LG Electronics India Pvt. Ltd.,0-2
1,"NTT DATA_ Hiring For BIG DATA ,DATA Scientist,...","Noida, Kolkata, Hyderabad/Secunderabad, Ahmeda...",NTT Data Business Solutions Pvt Ltd,3-8
2,Hiring For Data Scientist,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",Tata Consultancy Services Ltd.,4-9
3,Project Manager | Team Leader | Senior Data Sc...,Remote,Tidyquant (OPC) Private Limited,1-5
4,Data Scientist,"Gurgaon/Gurugram, Chennai",Teleperformance,4-9
5,Hiring For Data Analyst / Data Scientist,Noida(Sector-59 Noida),Careerera,1-3
6,Data Scientist Internship,New Delhi,iHackers Inc,0-1
7,Data Scientist,Gurgaon/Gurugram,Whizhack Technologies pvt ltd,2-5
8,Data Scientist,Gurgaon/Gurugram,One Mobikwik Systems Private Limited,2-5
9,Data Scientist/ Senior Data Scientist,Noida,Newgen Software Technologies,2-5

In [224]:
#close the driver

driver.close()

## Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes: 
#### 1. Brand 
#### 2. Product Description 
#### 3. Price 
#### The attributes which you have to scrape is ticked marked in the below image. 
#### To scrape the data you have to go through following steps: 
#### 1. Go to Flipkart webpage by url : ![https://www.flipkart.com](https://cdn.iconscout.com/icon/free/png-256/flipkart-2709174-2249163.png)
#### 2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon 
#### 3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data as usual. 
#### 4. After scraping data from the first page, go to the “Next” Button at the bottom of the page , then click on it. 
#### 5. Now scrape data from this page as usual 
#### 6. Repeat this until you get data for 100 sunglasses. 
##### Note: That all of the above steps have to be done by coding only and not manually.

In [227]:
# connect to webdriver
driver = webdriver.Chrome(r"C:/Users/DELL/Downloads/chromedriver_win32/chromedriver.exe")
# get webpage
driver.get("https://www.flipkart.com/")

<ipython-input-227-9940761397f7>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:/Users/DELL/Downloads/chromedriver_win32/chromedriver.exe")

In [228]:
# enter “sunglasses” in “search for products, brands and more” field.
search_product = driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input")
search_product.send_keys("sunglasses")

# click the search button
search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

<ipython-input-228-adab00355ba4>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_product = driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input")
<ipython-input-228-adab00355ba4>:6: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")

In [229]:
# specifying the url of the webpage to be scraped
url = "https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"

# open the webpage through our web driver
driver.get(url)

### Scraping the data for the first 100 sunglasses listings on flipkart.com

In [230]:
# iterating first 3 website pages to scrape the data

page_url=[]

url=driver.find_elements_by_xpath("//nav[@class='yFHi8N']//a")
for i in url:
    page_url.append(i.get_attribute('href'))
page_url=page_url[0:3]

<ipython-input-230-338eb93c4676>:5: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  url=driver.find_elements_by_xpath("//nav[@class='yFHi8N']//a")

In [232]:
# creating empty list to scraping data into them

brand=[]
Description=[]
Price=[]
Discount=[] 

# extracting all the tags

for i in page_url:
    driver.get(i)
    titles_brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in titles_brand:
        brand.append(i.text)
        
    titles_Description=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for i in titles_Description:
        Description.append(i.text)
        
    titles_Price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in titles_Price:
        Price.append(i.text.replace("₹",""))
        
    titles_Discount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
    for i in titles_Discount:
        Discount.append(i.text.replace("% off",""))

<ipython-input-232-265bd805494c>:12: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  titles_brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
<ipython-input-232-265bd805494c>:16: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  titles_Description=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
<ipython-input-232-265bd805494c>:20: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  titles_Price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
<ipython-input-232-265bd805494c>:24: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  titles_Discount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")

In [233]:
# creating dataframe for the first 100 sunglasses listings on flipkart.com:

flipkart=pd.DataFrame({})
flipkart['Brand']=brand[0:100]
flipkart['Product Description']=Description[0:100]
flipkart['Price']=Price[0:100]
flipkart['Discount %']=Discount[0:100]

print("The data for the first 100 sunglasses listings on flipkart.com:\n")
flipkart

The data for the first 100 sunglasses listings on flipkart.com:

,Brand,Product Description,Price,Discount %
0,hipe,"Mirrored, UV Protection, Gradient Round Sungla...",189,87
1,Fravy,UV Protection Retro Square Sunglasses (Free Size),244,83
2,SRPM,UV Protection Wayfarer Sunglasses (56),188,85
3,Elligator,UV Protection Round Sunglasses (54),248,90
4,PIRASO,UV Protection Aviator Sunglasses (54),200,87
...,...,...,...,...
95,Elligator,"UV Protection Retro Square, Round Sunglasses (54)",291,85
96,ROYAL SON,UV Protection Retro Square Sunglasses (58),449,70
97,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),499,77
98,kingsunglasses,"UV Protection, Night Vision Wayfarer Sunglasse...",279,83
99,ROYAL SON,"UV Protection, Gradient Butterfly Sunglasses (60)",694,65

In [234]:
#close the driver

driver.close()

## Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: 
### https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace. 

### As shown in the above page you have to scrape the tick marked attributes. These are: 
### 1. Rating 
### 2. Review_summary 
### 3. Full review 
### 4. You have to scrape this data for first 100 reviews. 
### Note: All the steps required during scraping should be done through code only and not manually.

In [247]:
# connect to webdriver
driver = webdriver.Chrome(r"C:/Users/DELL/Downloads/chromedriver_win32/chromedriver.exe")

# specifying the url of the webpage to be scraped
url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power%02adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace"

# open the webpage through our web driver
driver.get(url)

# clicking for all reviews
driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']/span").click()

<ipython-input-247-b4ae44e77989>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:/Users/DELL/Downloads/chromedriver_win32/chromedriver.exe")
<ipython-input-247-b4ae44e77989>:11: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']/span").click()

In [236]:
# get webpage
page_url=[]

url=driver.find_elements_by_xpath("//nav[@class='yFHi8N']//a")
for i in url:
    page_url.append(i.get_attribute('href'))
page_url=page_url[0:13]

<ipython-input-236-c99d3655114c>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  url=driver.find_elements_by_xpath("//nav[@class='yFHi8N']//a")

In [248]:
# creating empty list to scraping data into them 

Rating=[]
Review_summary=[]
Full_review=[]

# extracting all the tags

for i in page_url:
    driver.get(i)

    rat=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    for i in rat:
        Rating.append(i.text)

    summary=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    for i in summary:
        Review_summary.append(i.text)

    review=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for i in review:
        Full_review.append(i.text)

<ipython-input-248-add04d3a0b02>:12: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  rat=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
<ipython-input-248-add04d3a0b02>:16: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  summary=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
<ipython-input-248-add04d3a0b02>:20: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  review=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

In [249]:
# creating dataframe for the first 100 reviews data from flipkart.com for iphone11 phone:

flipkart=pd.DataFrame({})
flipkart['Rating']=Rating[0:100]
flipkart['Review Summary']=Review_summary[0:100]
flipkart['Full Review']=Full_review[0:100]


print("The data for the first 100 reviews data from flipkart.com for iphone11 phone:\n")
flipkart

The data for the first 100 reviews data from flipkart.com for iphone11 phone:

,Rating,Review Summary,Full Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Awesome,The phone is completely good\nAs far as camera...
96,3,Decent product,Everything u ll like it when u use this iPhone...
97,5,Brilliant,A wort full value for money decision it’s . Si...
98,5,Awesome,Can’t beat the software and hardware integrati...
99,5,Does the job,phone is good but in display is 720p lcd in th...

In [250]:
#close the driver

driver.close()

## Q6: Scrape data for first 100 sneakers you find when you visit ![https://www.flipkart.com](https://cdn.iconscout.com/icon/free/png-256/flipkart-2709174-2249163.png) and search for “sneakers” in the search field. 
#### You have to scrape 4 attributes of each sneaker: 
#### 1. Brand 
#### 2. Product Description 
#### 3. Price
#### 4. Discount
#### Note: All the steps required during scraping should be done through code only and not manually.

In [251]:
# connect to webdriver
driver = webdriver.Chrome(r"C:/Users/DELL/Downloads/chromedriver_win32/chromedriver.exe")

# get webpage
driver.get("https://www.flipkart.com/")

<ipython-input-251-bebe6a392e31>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:/Users/DELL/Downloads/chromedriver_win32/chromedriver.exe")

In [253]:
# enter “sneakers” in “search for products, brands and more” field.
search_product = driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input")
search_product.send_keys("sneakers")

# click the search button
search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

<ipython-input-253-b692d5e730aa>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_product = driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input")
<ipython-input-253-b692d5e730aa>:6: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")

### Scraping the data for the first 100 sneakers listings on flipkart.com

In [254]:
# specifying the url of the webpage to be scraped
url = "https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"

# open the webpage through our web driver
driver.get(url)

In [255]:
# iterating first 3 website pages to scrape the data

page_url=[]

url=driver.find_elements_by_xpath("//nav[@class='yFHi8N']//a")
for i in url:
    page_url.append(i.get_attribute('href'))
page_url=page_url[0:5]

<ipython-input-255-4aaac7fce47a>:5: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  url=driver.find_elements_by_xpath("//nav[@class='yFHi8N']//a")

In [256]:
# creating empty list to scraping data into them

brand=[]
Description=[]
Price=[]
Discount=[] 

# extracting all the tags

for i in page_url:
    driver.get(i)
    titles_brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in titles_brand:
        brand.append(i.text)
        
    titles_Description=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for i in titles_Description:
        Description.append(i.text)
        
    titles_Price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in titles_Price:
        Price.append(i.text.replace("₹",""))
        
    titles_Discount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
    for i in titles_Discount:
        Discount.append(i.text.replace("% off",""))

<ipython-input-256-265bd805494c>:12: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  titles_brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
<ipython-input-256-265bd805494c>:16: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  titles_Description=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
<ipython-input-256-265bd805494c>:20: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  titles_Price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
<ipython-input-256-265bd805494c>:24: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  titles_Discount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")

In [258]:
# creating dataframe for the first 100 sunglasses listings on flipkart.com:

flipkart=pd.DataFrame({})
flipkart['Brand']=brand[0:100]
flipkart['Product Description']=Description[0:100]
flipkart['Price₹']=Price[0:100]
flipkart['Discount %']=Discount[0:100]

print("The data for the first 100 sneakers listings on flipkart.com:\n")
flipkart

The data for the first 100 sneakers listings on flipkart.com:

,Brand,Product Description,Price₹,Discount %
0,NIKE,Tanjun Sneakers For Men,"1,968",58
1,NIKE,Court Vapor Lite Hard Court Sneakers For Men,"6,685",1
2,Chevit,Super Stylish & Trendy Combo Pack of 02 Pairs ...,699,56
3,RapidBox,Modern Trendy Shoes Sneakers For Men,680,31
4,BRUTON,White Sneaker For Men's/Boy's Sneakers For Men,379,70
...,...,...,...,...
95,NIKE,Men's Canvas Low Top Sneakers Lace-up Classic ...,"6,685",50
96,FEWROK,Tanjun Sneakers For Men,420,47
97,bluemaker,Sneakers For Men,499,50
98,BIRDE,Casual Sneakers Green Shoes For Men And Boys S...,525,40
99,WROGN,LYTECOURT Sneakers For Men,"1,199",40

In [259]:
#close the driver

driver.close()

## Q7: Go to the link - https://www.myntra.com/shoes ![https://www.myntra.com/shoes](https://d1yjjnpx0p53s8.cloudfront.net/square_logo-myntra.jpg) Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black” And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe .
### Note: Applying the filter and scraping the data, everything should be done through code only and there should not be any manual step.

In [260]:
# connect to webdriver
driver = webdriver.Chrome(r"C:/Users/DELL/Downloads/chromedriver_win32/chromedriver.exe")

# get webpage
driver.get("https://www.myntra.com/shoes")

<ipython-input-260-1f58a4bdb4b9>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:/Users/DELL/Downloads/chromedriver_win32/chromedriver.exe")

In [261]:
# apply the Price filter to “Rs. 6649 to Rs. 13099” by checking the respective boxe

price = driver.find_elements_by_xpath("//ul[@class ='price-list']//label[@class ='common-customCheckbox vertical-filters-label']/div[@class = 'common-checkboxIndicator']") 
price[1].click()

<ipython-input-261-3ec5e4da065b>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  price = driver.find_elements_by_xpath("//ul[@class ='price-list']//label[@class ='common-customCheckbox vertical-filters-label']/div[@class = 'common-checkboxIndicator']")

In [262]:
# apply the Color filter to “Black”  by checking the box

color = driver.find_elements_by_xpath("//li[@class ='colour-listItem']//label[@class ='common-customCheckbox']/div[@class = 'common-checkboxIndicator']") 
color[0].click()

<ipython-input-262-eee1501b7135>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  color = driver.find_elements_by_xpath("//li[@class ='colour-listItem']//label[@class ='common-customCheckbox']/div[@class = 'common-checkboxIndicator']")

In [263]:
# specifying the url of the webpage to be scraped
url = "https://www.myntra.com/shoes?f=Color%3ABlack_36454f&rf=Price%3A7149.0_14099.0_7149.0%20TO%2014099.0"

# open the webpage through our web driver
driver.get(url)

In [264]:
# iterating first 3 website pages to scrape the data

page_url=[]

url=driver.find_elements_by_xpath("//li[@class='pagination-number']//a")
for i in url:
    page_url.append(i.get_attribute('href'))
page_url=page_url[0:2]

<ipython-input-264-f8f982e4818b>:5: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  url=driver.find_elements_by_xpath("//li[@class='pagination-number']//a")

In [265]:
# creating empty list to scraping data into them

brand=[]
Description=[]
Price=[]

# extracting all the tags

for i in page_url:
    driver.get(i)
    titles_brand=driver.find_elements_by_xpath("//h3[@class='product-brand']")
    for i in titles_brand:
        brand.append(i.text)
    
    titles_Description=driver.find_elements_by_xpath("//h4[@class='product-product']")
    for i in titles_Description:
        Description.append(i.text)
        
    titles_Price=driver.find_elements_by_xpath("//div[@class='product-price']")
    for i in titles_Price:
        Price.append(i.text)

<ipython-input-265-fbc79941ba3e>:11: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  titles_brand=driver.find_elements_by_xpath("//h3[@class='product-brand']")
<ipython-input-265-fbc79941ba3e>:15: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  titles_Description=driver.find_elements_by_xpath("//h4[@class='product-product']")
<ipython-input-265-fbc79941ba3e>:19: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  titles_Price=driver.find_elements_by_xpath("//div[@class='product-price']")

In [266]:
# creating dataframe for the first 100 sneakers listings on myntra.com:

myntra =pd.DataFrame({})
myntra['Brand']=brand[0:100]
myntra['Shoe Description']=Description[0:100]
myntra['Price']=Price[0:100]

print("The data for the first 100 sneakers listings on myntra.com:\n")
myntra

The data for the first 100 sneakers listings on myntra.com:

,Brand,Shoe Description,Price
0,Saint G,Women Leather Heeled Boots,Rs. 12510Rs. 13900(Rs. 1390 OFF)
1,Tommy Hilfiger,Women Leather Sneakers,Rs. 7219Rs. 7599(5% OFF)
2,ROSSO BRUNELLO,Leather High-Top Block Heeled Boots,Rs. 13999
3,Saint G,Textured Leather Block Heeled Boots,Rs. 10500Rs. 10900(Rs. 400 OFF)
4,ASICS,Women Running Shoes,Rs. 8999
...,...,...,...
95,Regal,Perforated Leather Loafers,Rs. 7641Rs. 8990(15% OFF)
96,Bugatti,Men Nubuck Sneakers,Rs. 7999
97,ASICS,Women Woven Design PU Sneakers,Rs. 13999
98,ALDO,Women Sneakers,Rs. 12999
99,Birkenstock,Men Milton Black Casual Shoes,Rs. 12990

In [267]:
#close the driver
driver.close()

## Q8: Go to webpage ![ https://www.amazon.in/](https://cdn.iconscout.com/icon/free/png-256/amazon-29-226581.png)
#### Enter “Laptop” in the search field and then click the search icon. 
#### Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop: 
#### 1. Title 
#### 2. Ratings 
#### 3. Price
##### Note: All the steps required during scraping should be done through code only and not manuall

In [268]:
# connect to webdriver
driver = webdriver.Chrome(r"C:/Users/DELL/Downloads/chromedriver_win32/chromedriver.exe")

# get webpage
driver.get("https://www.amazon.in/")

<ipython-input-268-c210bd49750c>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:/Users/DELL/Downloads/chromedriver_win32/chromedriver.exe")

In [269]:
# enter “laptop” in the search field.
search_product = driver.find_element_by_xpath("//div[@class='nav-search-field ']/input")
search_product.send_keys("laptop")

# click the search button
search_btn = driver.find_element_by_xpath("//div[@class='nav-search-submit nav-sprite']")
search_btn.click()

<ipython-input-269-ebac3462dbb0>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_product = driver.find_element_by_xpath("//div[@class='nav-search-field ']/input")
<ipython-input-269-ebac3462dbb0>:6: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn = driver.find_element_by_xpath("//div[@class='nav-search-submit nav-sprite']")

In [270]:
# apply  CPU Type filter to “Intel Core i7” and “Intel Core i9” by checking the respective boxe

# applying CPU Type filter to “Intel Core i7” filter by checking the respective box
i7_clk=driver.find_elements_by_xpath("//span[@class='a-size-base a-color-base']")
for i in i7_clk:
    if i.text == 'Intel Core i7':   
        i.click() # Checking the checkbox to apply filter on the laptop
        break

<ipython-input-270-2ebaccd7cae1>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  i7_clk=driver.find_elements_by_xpath("//span[@class='a-size-base a-color-base']")

In [271]:
# applying CPU Type filter to “Intel Core i9” filter by checking the respective box
i9_clk=driver.find_elements_by_xpath("//span[@class='a-size-base a-color-base']")
for i in i9_clk:
    if i.text == 'Intel Core i9':   
        i.click() # Checking the checkbox to apply filter on the laptop
        break

<ipython-input-271-556701ca5712>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  i9_clk=driver.find_elements_by_xpath("//span[@class='a-size-base a-color-base']")

In [272]:
# specifying the url of the webpage to be scraped
url = "https://www.amazon.in/s?k=laptop&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598163031&dc&qid=1639316013&rnid=12598141031&ref=sr_nr_p_n_feature_thirteen_browse-bin_12"

# open the webpage through our web driver
driver.get(url)

In [273]:
# creating empty list to scraping data into them

Title=[]
Rating=[]
Price=[]

# extracting all the tags

titles=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
for i in titles:
    Title.append(i.text)
    
titles_rat=driver.find_elements_by_xpath("//div[@class='a-row a-size-small']/span")
for i in titles_rat:
    Rating.append(i.get_attribute("aria-label"))
        
titles_Price=driver.find_elements_by_xpath("//span[@class='a-price']")
for i in titles_Price:
    Price.append(i.text[1:])

<ipython-input-273-b7cea337bc2a>:9: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  titles=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
<ipython-input-273-b7cea337bc2a>:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  titles_rat=driver.find_elements_by_xpath("//div[@class='a-row a-size-small']/span")
<ipython-input-273-b7cea337bc2a>:17: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  titles_Price=driver.find_elements_by_xpath("//span[@class='a-price']")

In [274]:
# extratcing ratings from the unorganised rating tag

rating=[]
for i in range(0,len(Rating)):
    if i == 0 or  i/2 == i//2:
        rating.append(Rating[i][0:3])

In [275]:
# creating dataframe for the first 10 laptops data on amazon.com:

amazon =pd.DataFrame({})
amazon['Title']=Title[0:10]
amazon['Rating']=rating[0:10]
amazon['Price']=Price[0:10]

print("The data for the first 10 laptops data on amazon.com:\n")
amazon

The data for the first 10 laptops data on amazon.com:

                                               Title Rating     Price
0  Acer Nitro 5 AN515-57 Gaming Laptop | Intel Co...    4.0    89,999
1  Lenovo ThinkBook 13s Intel 11th Gen Core i7 13...    4.3    89,990
2  Mi Notebook Horizon Edition 14 Intel Core i7-1...    4.2    54,990
3  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....    4.3    85,990
4  HP Pavilion (2021) Intel 11th Gen Core i7 14 i...    4.3    84,990
5  ASUS TUF Dash F15 (2021) 15.6-inch (39.62 cms)...    4.4  1,09,990
6  Mi Notebook Pro QHD+ IPS Anti Glare Display In...    4.3    72,999
7  HP Pavilion 13, 11th Gen Intel Core i7, 13.3-i...    4.6    87,990
8  Dell 15 (2021) i7-10870H Gaming Laptop, 16GB D...    3.6    95,289
9  LG Gram 17-inches Ultra-Light Intel Evo 11th G...    4.5    98,999

In [276]:
#close the driver
driver.close()

## Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company. 
#### This task will be done in following steps: 
#### 1. First get the webpage https://www.ambitionbox.com/
#### 2. Click on the Job option
#### 3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter “Data Scientist” and click on search button. 
#### 4. You will reach to the following web page click on location and in place of “Search location” enter “Noida” and select location “Noida”. 
##### 5. Then scrape the data for the first 10 jobs results you get on the above shown page. 
#### 6. Finally create a dataframe of the scraped data. 
#### Note: All the steps required during scraping should be done through code only and not manually.

In [277]:
# connect to webdriver
driver = webdriver.Chrome(r"C:/Users/DELL/Downloads/chromedriver_win32/chromedriver.exe")

# get webpage
driver.get(" https://www.ambitionbox.com//")

<ipython-input-277-0332561c3a91>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:/Users/DELL/Downloads/chromedriver_win32/chromedriver.exe")

In [278]:
# click the "Jobs" webpage
cl_job = driver.find_element_by_xpath("//a[@class='link jobs']")
cl_job.click()

<ipython-input-278-fe0b672c7a0c>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  cl_job = driver.find_element_by_xpath("//a[@class='link jobs']")

In [279]:
#In place of “Search by Designations, Companies, Skills” enter “Data Scientist” 

search_title = driver.find_element_by_xpath("//span[@class='twitter-typeahead']/input")
search_title.send_keys("Data Scientist")

#click on search button.
search_btn = driver.find_element_by_xpath("//button[@class='ab_btn search-btn round']")
search_btn.click()

<ipython-input-279-876819e2d806>:3: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_title = driver.find_element_by_xpath("//span[@class='twitter-typeahead']/input")
<ipython-input-279-876819e2d806>:7: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn = driver.find_element_by_xpath("//button[@class='ab_btn search-btn round']")

In [280]:
#click on location and in place of “Search location” enter “Noida” and select location “Noida”.

cl_loc = driver.find_element_by_xpath("//div[@class='show-flex']/div[2]") # Location dropdown
cl_loc.click()    
driver.find_element_by_id("location_Noida").click() # Select Noida

<ipython-input-280-6868a65195eb>:3: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  cl_loc = driver.find_element_by_xpath("//div[@class='show-flex']/div[2]") # Location dropdown
<ipython-input-280-6868a65195eb>:5: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_id("location_Noida").click() # Select Noida

In [281]:
#scraping company name, No. of days ago when job was posted, Rating of the company

#creating empty list
company_name = []
job_posted = []
rating = []

#Scraing all tags

company=driver.find_elements_by_xpath("//div[@class='company-info']")
for i in company:
    company_name.append(i.text.split("\n")[0])
    rating.append(i.text.split("\n")[1])
    
posted=driver.find_elements_by_xpath("//span[@class='body-small-l']")
for i in posted:
    job_posted.append(i.text)
    
# extratcing job posted days from the unorganised job posted tag

posted=[]
for i in range(0,len(job_posted)):
    if i == 0 or  i/2 == i//2:
        posted.append(job_posted[i])

<ipython-input-281-6518c2ac8fbb>:10: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  company=driver.find_elements_by_xpath("//div[@class='company-info']")
<ipython-input-281-6518c2ac8fbb>:15: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  posted=driver.find_elements_by_xpath("//span[@class='body-small-l']")

In [282]:
# creating Dataframe 

ambition = pd.DataFrame({})
ambition["Company_name"] = company_name[1:]
ambition["Job_Posted"] = posted
ambition["Rating"] = rating[1:]

print("The data for the first 10 jobs results in ambitionbox.com :\n ")
ambition

The data for the first 10 jobs results in ambitionbox.com :

                          Company_name Job_Posted Rating
0       LG Electronics India Pvt. Ltd.     3d ago    4.1
1        GENPACT India Private Limited    10d ago    4.0
2        GENPACT India Private Limited    10d ago    4.0
3  NTT Data Business Solutions Pvt Ltd    11d ago    3.8
4        GENPACT India Private Limited    12d ago    4.0
5                             GI Group     4d ago    4.0
6                             GI Group     4d ago    4.0
7                             GI Group     8d ago    4.0
8                     Steria India Ltd   1mon ago    4.1
9                                Zyoin     5d ago    4.1

## Q10: Write a python program to scrape the salary data for Data Scientist designation. You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary. 
#### The above task will be, done as shown in the below steps: 
#### 1. First get the webpage https://www.ambitionbox.com/
#### 2. Click on the salaries option
#### 3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and then click on “Data Scientist”. 
#### 4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average salary, minimum salary, maximum salary, experience required. 
#### 5. Store the data in a dataframe. 
#### Note: All the steps required during scraping should be done through code only and not manually.

In [291]:
# connect to webdriver
driver = webdriver.Chrome(r"C:/Users/DELL/Downloads/chromedriver_win32/chromedriver.exe")

# get webpage
driver.get(" https://www.ambitionbox.com//")

<ipython-input-291-0332561c3a91>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:/Users/DELL/Downloads/chromedriver_win32/chromedriver.exe")

In [292]:
# click on Salary webpage
driver.find_element_by_xpath("//a[@class='link salaries']").click() #Salaries

<ipython-input-292-6cc32887b557>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_xpath("//a[@class='link salaries']").click() #Salaries

In [293]:
# In place of “Search Job Profile” enters “Data Scientist” and then click on “Data Scientist”.
search_job = driver.find_element_by_id("jobProfileSearchbox")
search_job.send_keys("Data Scientist")

clk=driver.find_elements_by_xpath("//div[@class='suggestion_wrap tt-suggestion tt-selectable']")
for i in clk:
    if i.text == 'Data Scientist':   
        i.click() # click on “Data Scientist”
        break

<ipython-input-293-f8a0e068b6b9>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_job = driver.find_element_by_id("jobProfileSearchbox")
<ipython-input-293-f8a0e068b6b9>:5: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  clk=driver.find_elements_by_xpath("//div[@class='suggestion_wrap tt-suggestion tt-selectable']")

In [294]:
#scrape Company name, Number of salaries, Average salary, Min salary, Max Salary, experience required.

company_name = []
salary_record = []
average_salary = []
min_salary = []
max_salary = []
exp = []

#Scraing all tags

company=driver.find_elements_by_xpath("//div[@class='company-info']")
for i in company:
    company_name.append(i.text.split("\n")[0])                              #company name
    salary_record.append(i.text.replace("based on", " ").replace("salaries","").split("\n")[1:2]) #Total Salary Record
    exp.append(i.text.replace("yrs exp","").replace("yr exp","").split("\n")[-1])                # Experience required
    
avg_salary=driver.find_elements_by_xpath("//div[@class='average-indicator-wrapper']")
for i in avg_salary:
    average_salary.append(i.text.replace("₹","").replace("L",""))            # average salary

salary=driver.find_elements_by_xpath("//div[@class='salary-values']")
for i in salary:
    min_salary.append(i.text.replace("₹","").replace("L","").split("\n")[0])  # minimum salary
    max_salary.append(i.text.replace("₹","").replace("L","").split("\n")[1])  # maximum salary

<ipython-input-294-d3184fc44bb1>:12: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  company=driver.find_elements_by_xpath("//div[@class='company-info']")
<ipython-input-294-d3184fc44bb1>:18: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  avg_salary=driver.find_elements_by_xpath("//div[@class='average-indicator-wrapper']")
<ipython-input-294-d3184fc44bb1>:22: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  salary=driver.find_elements_by_xpath("//div[@class='salary-values']")

In [297]:
# creating Dataframe for the company name, total salary record, average salary, minimum salary, maximum salary, experience required.

ambition =pd.DataFrame({})
ambition["Company_Name"] = company_name[:10]
ambition["Total_Salary_Record"] = salary_record[:10]
ambition["Experience_Required"] = exp[:10]
ambition["Average_Salary_L"] = average_salary[:10]
ambition["Minimum_Salary_L"] = min_salary
ambition["Maximum_Salary_L"] = max_salary

print("The data for the first 10 Companies results in ambitionbox.com :\n ")
ambition

The data for the first 10 Companies results in ambitionbox.com :

,Company_Name,Total_Salary_Record,Experience_Required,Average_Salary_L,Minimum_Salary_L,Maximum_Salary_L
0,Tekion,[ 10 ],4,23.3,14.0,32.0
1,Microsoft Corporation,[ 218 ],1-4,22.4,12.0,45.0
2,Goldman Sachs,[ 11 ],2,21.9,16.0,30.0
3,Flipkart,[ 53 ],1-4,20.6,7.0,30.0
4,Amazon,[ 80 ],1-4,19.1,8.0,40.0
5,Arcesium,[ 35 ],1,18.4,12.0,30.0
6,Servicenow Software Development India,[ 27 ],2-3,18.2,12.0,25.0
7,ServiceNow,[ 15 ],3,18.2,12.7,23.0
8,Walmart,[ 77 ],1-4,17.9,10.0,32.0
9,PayPal,[ 12 ],1,17.6,12.0,23.0

In [298]:
# close the driver
driver.close()